{% include 'layouts/header.liquid' %}

  <div class="container">
    <div class="row">

      <div class="col-md-12 col-12">


        <div class="photo-tags">
          <ul>
            {% for tag in tags %}
              <li><a href="{{ tag.slug | url_encode }}/index.html">{{ tag.name }} <span class="size">({{ tag.photos | size }})</span></a></li>
            {% endfor %}
          </ul>
        </div>


      </div>

    </div>
  </div>

{% include 'layouts/footer.liquid' %}
